:root {
  --color-bg: #f9f9f9;
  --color-text: #333;
  --color-primary: #5f6df6;
  --color-accent: #e05ba8;
  --color-card-bg: #fff;
  --color-border: #ccc;
  --color-hover: #f0f0f0;
}

[data-theme='dark'] {
  --color-bg: #121212;
  --color-text: #f2f2f2;
  --color-primary: #648bff;
  --color-accent: #ff6ec7;
  --color-card-bg: #1e1e1e;
  --color-border: #444;
  --color-hover: #2a2a2a;
}
