$color-accent-blue: #5f6df6;
$color-accent-pink: #e05ba8;
$color-border-neutral: #ccc;
$color-white: #fff;
$color-hover-bg: #f0f0f0;
$color-black: #000;


$mobile: 768px;
$tablet: 1024px;
$desktop: 1200px;
