@import '@/styles/vars';

.slideContent {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  overflow-x: auto;
  padding-bottom: 1rem;
  scroll-behavior: smooth;
  text-overflow: ellipsis;

  @media (max-width: $mobile) {
    gap: 1rem;
    padding-bottom: 0.5rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
